html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.header {
    margin-top: -100px;
    text-transform: uppercase;
    background-color: #d8d8d8;
    border-radius: 0px 0px 15px 15px;
    position: fixed;
    width: 100%;
    opacity: 0.75;
}
.header h1 {
    text-align: center;
    margin-left: 5%;
}
.header {display: flex}
@media (min-width:850px) {
    .header h1 {
      font-size: 35px;
      border-radius: 0px 0px 30px 30px;
    }
}
.header2 {
    background-color: rgb(255, 255, 255); 
    background-size: cover;
    height: 25px;
    text-align: center;
    overflow: auto;
    margin-top: 100px;
    padding-top: 8px;
    padding-bottom: 15px;
}
@media (min-width: 850px) {
    .header2 {
        height: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.more {
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-iteration-count: 5;
    text-align: center;
    font-size: 25px;
    margin-top: 120px;
  }
@keyframes slidein {
    from {
        margin-left: 30%;
        width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@media (min-width: 850px) {
    .more {
        font-size: 40px;
        margin-top: 150px;
    }
    @keyframes slidein {
        from {
            margin-left: 27%;
            width: 100%;
        }
        to {
          margin-left: 0%;
          width: 100%;
        }
    }
}

.buttom {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 7px 12px;
    text-decoration: none; 
    transition: background .5s;
    border-radius: 15px;
}
.buttom:hover{
    background: #117bff;
    cursor: pointer; 
    transition: background .5s;  
}

@media (max-width: 380px) {
    .buttom {
        padding: 7px 11px;
        font-size: 14px;
    }
}
@media (max-width:300px) {
    .buttom {
        padding: 6px 10px;
        font-size: 10px;
    }
}
@media (min-width:380px) {
    .buttom {
        padding: 7px 12px;
    }
}
@media (min-width:850px) {
    .buttom {
        padding: 10px 40px;
    }
}

.card {
    background-color: #ffffff;
    min-width: calc(100% - 5px);
    min-height: 300px;
    margin-left: 5px;
}
.card {display: flex}
.card--content {
    background-color: #d8d8d8;
    min-width: 300px;
    margin: 5px;
    border-radius: 15px;
}
.more {
    text-transform: uppercase;
    color: #117bff;
}
@media (min-width: 850px) {
    .card {
        min-height: 400px;
    }
    .card--content {
        min-width: 400px;
        border-radius: 30px;
    }
}
.card {
    overflow-x: auto;
}
.card::-webkit-scrollbar {
    display: none;
}
#card2 {
    background: url(cards/card2.jpg) no-repeat center center;
    background-size: cover;
}
#card3 {
    background: url(cards/card3.jpg) no-repeat center center;
    background-size: cover;
}
#card4 {
    background: url(cards/card4.jpg) no-repeat center center;
    background-size: cover;
}

.products {
    text-align: center;
    font-size: 10px;
    color:#117bff
}
@media (min-width: 850px) {
    .products {
        font-size: 13px;
    }
}

.box {
    background-color: #ffffff;
    min-width: calc(100% - 5px);
    min-height: 300px;
    overflow-x: auto;
    margin-left: 5px;
    position: relative;
}
.box {display: flex}
.box--1 {
    background: url(boxes/box1.jpg) no-repeat center center; 
    background-size: cover;
    background-color: #d8d8d8;
    min-width: calc(50% - 12.5px);
    border-radius: 0px 15px 0px 15px;
    margin: 5px;
    cursor: pointer;
}
.box--2 {
    background: url(boxes/box2.jpg) no-repeat center center;
    background-size: cover;
    min-width: calc(50% - 12.5px);
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.box2line {
    background-color: #ffffff;
    min-width: calc(100% - 5px);
    min-height: 300px;
    overflow-x: auto;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.box2line {display: flex}
.box--3 {
    background: url(boxes/box3.jpg) no-repeat center center;
    background-size: cover;
    min-width: calc(50% - 15px);
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
.box--4 {
    background: url(boxes/box4.jpg) no-repeat center center;
    background-size: cover;
    min-width: calc((50% - 20px) / 2);
    border-radius: 0px 15px 15px 15px;
    margin: 5px;
    cursor: pointer;
}
.box--5 {
    background: url(boxes/box5.jpg) no-repeat center center;
    background-size: cover;
    min-width: calc((50% - 20px) / 2);
    border-radius: 15px 15px 0px 15px;
    margin: 5px;
    cursor: pointer;
}

@media (min-width: 850px) {
    .box--1 {
        border-radius: 0px 30px 0px 30px;
    }
    .box--2 {
        border-radius: 30px;
    }
    .box--3 {
        border-radius: 30px;
    }
    .box--4 {
        border-radius: 0px 30px 30px 30px;
    }
    .box--5 {
        border-radius: 30px 30px 0px 30px;
    }
}

.learnmore {
    color: #117bff;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 225px;
    cursor: pointer;
}
@media (min-width: 850px) {
    .learnmore {
        margin-top: 300px;
    }
}

#box1:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 300px;
	background: rgba(255,255,255,0.3);
	border-radius: 0px 15px 0px 15px;
	transition: all 2s ease;
    position: absolute;
    margin-left: 5px;
}
#box1:hover:before {
    width: calc(50% - 12.5px);
}

#box2:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 300px;
	background: rgba(255,255,255,0.3);
	border-radius: 15px 15px 15px 15px;
	transition: all 2s ease;
    position: absolute;
    margin-left: calc(50%);
}
#box2:hover:before {
    width: calc(50% - 10px);
}

#box3:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 300px;
	background: rgba(255,255,255,0.3);
	border-radius: 15px 15px 15px 15px;
	transition: all 2s ease;
    position: absolute;
    margin-left: 5px;
}
#box3:hover:before {
    width: calc(50% - 12.5px);
}

#box4:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 300px;
	background: rgba(255,255,255,0.3);
	border-radius: 0px 15px 15px 15px;
	transition: all 2s ease;
    position: absolute;
    margin-left: 50%;
}
#box4:hover:before {
    width: calc((50% - 20px) / 2)
}

#box5:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 300px;
	background: rgba(255,255,255,0.3);
	border-radius: 15px 15px 0px 15px;
	transition: all 2s ease;
    position: absolute;
    margin-left: calc(calc(50% + (50% - 20px) / 2));
}
#box5:hover:before {
    width: calc(((50% - 20px) / 2) + 10px);
}

@media (min-width: 850px) {
    #box1:before {
        border-radius: 0px 30px 0px 30px;
    }
    #box2:before {
        border-radius: 30px 30px 30px 30px;
    }
    #box3:before {
        border-radius: 30px 30px 30px 30px;
    }
    #box4:before {
        border-radius: 0px 30px 30px 30px;
    }
    #box5:before {
        border-radius: 30px 30px 0px 30px;
    }
}